header, hgroup, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}


body { /* body styling */
    background-image: url('ptrbackground.jpg');
    background-color: #00569f;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper { /* 'main' styling */
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    background: linear-gradient(to right, #53b1ce 0,#53b1ce 170px, 0,white 50%,white 100%); /* navbar color extension*/
}

h1 { /* styling main header */
    margin-bottom: 0;
    color: white;
    padding: 10px;
    background-image: url('sunset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    width: 100%;
    font-family: Georgia, "Times New Roman", serif;
}

nav { /* navbar styling */
    width: 170px;
    background-color: #53b1ce;
	background-size: cover;
    float: left;
	max-height: fit-content;
}

nav ul { /* navbar list styling */
    font-size: 1.2em;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a { /* navbar link styling */
    text-decoration: none;
    display: block;
    padding: 10px;
    color: rgb(12, 6, 102);
}

nav a:visited { /* navbar link after visit */
    color: #344873;
}
 
nav a:hover { /* navbar link after hover */
    color: #FFFFFF;
}

#content { /* content styling */
    padding: 20px;
    margin-left: 190px; /* Adjusted to include the width of the nav */
}

#content img { /* image styling */
	width: 300px;
    float: left;
    margin-right: 20px;
	size: 100px;
}

#content ul { /* content list styling */
    list-style-image: url('marker.gif');
    padding: 0;
}

.resort { /* resort class styling */
    color: #53b1ce;
    font-size: 110%;
}

h2 { /* header 2 styling */
    color: #53b1ce;
    font-family: Georgia, "Times New Roman", serif;
}

#contact { /* contacts styling */
    font-size: 90%;
}

dt { /* dt styling */
    color: #000033;
}

footer { /* footer styling */
    font-family: Georgia, "Times New Roman", serif;
    padding: 10px;
    margin-left: 190px; /* Adjusted to include the width of the nav */
    margin-top: auto; /* Ensure footer sticks to the bottom */
}
